@import 'utility/variables.scss';

/*header css */
/* pagination */
/* footer css */
/* Fake image */
/* Add a card effect for articles */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&::before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	&::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html {
	font-family: $font-family_1;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: $Black;
}
article {
	display: block;
}
aside {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
	padding: 2em 0;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
body {
	font-family: $font-family_2;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: $Alabaster;
	color: $Black;
}
a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: $Red;
	&:hover {
		text-decoration: none;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&:focus {
		text-decoration: none;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
h1 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
h2 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
h3 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
h4 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
.h1 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
.h2 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
.h3 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
.h4 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
.h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-family_2;
	color: $Black;
}
.bg-primary {
	background: $Red;
}


