{% import '@decor/custom/macros/footer.twig' as footer_macro %}
{{ attach_library('decor/component.footer.styling') }}


<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      {{ footer_macro.footer('col-md-12 text-center', page.footer) }}
    </div>
  </div>
  <div class="col-md-12 text-center">
    <p class="copyright"> Copyright &copy; All rights reserved | <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Decor.com</a></p>
  </div>
</footer>