{{ attach_library('decor/component.header.styling') }}
<section class="ftco-section">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
					

							{{  page.page_title  }}

						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">

			          {{  page.search_box  }}

			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">

					{{  page.social_icon  }}
	
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div>
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        

	        	{{  page.main_navbar  }}

	        
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

	</section>