@import '../../utility/variables.scss';

.fakeimg {
	background-color: $Silver_Chalice;
	width: 100%;
	padding: 20px;
}
.card {
	background-color: $White;
	padding: 20px;
	margin-top: 20px;
}
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}
.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: $Red;
	background-color: $White;
	border: 1px solid $Geyser;
	&:hover {
		z-index: 2;
		color: $Outer_Space;
		text-decoration: none;
		background-color: $Athens_Gray;
		border-color: $Geyser;
	}
	&:focus {
		z-index: 2;
		outline: 0;
		-webkit-box-shadow: 0 0 0 0.2rem $Azure_Radiance;
		box-shadow: 0 0 0 0.2rem $Azure_Radiance;
	}
}
.page-item {
	&:first-child {
		.page-link {
			margin-left: 0;
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}
	}
	&:last-child {
		.page-link {
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}
	}
}
.page-item.active {
	.page-link {
		z-index: 1;
		color: $White;
		background-color: $Azure_Radiance;
		border-color: $Azure_Radiance;
	}
}
.page-item.disabled {
	.page-link {
		color: $Pale_Sky;
		pointer-events: none;
		cursor: auto;
		background-color: $White;
		border-color: $Geyser;
	}
}


.btn {
	border: none;
	border-radius: 0;
	font-size: 12px;
	letter-spacing: .2rem;
	text-transform: uppercase;
	&:hover {
		color: $White;
	}
	&:active {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.btn.btn-primary {
	background: $Bittersweet;
	color: $White;
	padding: 15px 20px;
}
