.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px; }

.card {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ff0000;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .page-link:hover {
    z-index: 2;
    color: #343a40;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6; }
  .page-link:focus {
    z-index: 2;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem #007bff;
    box-shadow: 0 0 0 0.2rem #007bff; }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6; }

.btn {
  border: none;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: .2rem;
  text-transform: uppercase; }
  .btn:hover {
    color: #fff; }
  .btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn.btn-primary {
  background: #FF6666;
  color: #fff;
  padding: 15px 20px; }

/*# sourceMappingURL=content.css.map */
