@import '../../utility/variables.scss';


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 40px;
			width: 40px;
			display: block;
			background: $Black;
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 20px;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $White;
			}
		}
	}
}
.footer {
	background: $Shark;
	a {
		color: $Red;
	}
	p {
		color: $Pale_Sky;
	}
	.footer-heading {
		font-size: 30px;
		color: $White;
		font-weight: 700;
		margin-bottom: 30px;
		.logo {
			color: $White;
		}
	}
	.menu {
		margin-bottom: 30px;
		a {
			color: $Gray;
			margin: 0 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.ftco-footer-social {
		li {
			a {
				background: transparent;
				border: 1px solid $Red;
			}
		}
	}
}