/*header css */
/* pagination */
/* footer css */
/* Fake image */
/* Add a card effect for articles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #000; }

article {
  display: block; }

aside {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block; }

footer {
  display: block;
  padding: 2em 0; }

header {
  display: block; }

hgroup {
  display: block; }

main {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  color: #ff0000; }
  a:hover {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  a:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

h1 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

h2 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

h3 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

h4 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.h1 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.h2 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.h3 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.h4 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.bg-primary {
  background: #ff0000; }

/*# sourceMappingURL=style.css.map */
