.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: #000;
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.footer {
  background: #212529; }
  .footer a {
    color: #ff0000; }
  .footer p {
    color: #6c757d; }
  .footer .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px; }
    .footer .footer-heading .logo {
      color: #fff; }
  .footer .menu {
    margin-bottom: 30px; }
    .footer .menu a {
      color: #D6D6D6;
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .footer .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #ff0000; }

/*# sourceMappingURL=footer.css.map */
