$Gray: #D6D6D6;
$Red: #ff0000;
$Black: #000;
$White: #fff;
$Gallery: #EBEAEA; 
$Tundora: #4d4d4d;
$Outer_Space: #343a40;
$Pale_Sky: #6c757d;
$font-family_1: sans-serif;
$font-family_2: "Poppins", Arial, sans-serif;
$Athens_Gray: #e9ecef;
$Azure_Radiance: #007bff;
$Silver_Chalice: #aaa;
$Geyser: #dee2e6;
$Mercury: #e6e6e6;
$Alabaster: #fafafa;
$Shark: #212529;
$Bittersweet: #FF6666;