{% set header = '@decor/custom/includes/header.html.twig' %}
{% set footer = '@decor/custom/includes/footer.html.twig' %}


{% include header %}


<div class="row justify-content-center">
    <div class="col-md-12 col-sm-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 30rem;">
            <h3 class="card-header display-1 text-muted text-center">
                404
            </h3>

            <span class="card-subtitle mb-2 text-muted text-center">
                {{ decor.content_404 | raw }}
            </span>

            <div class="card-body mx-auto">
                <a type="button" href="#"
                class="btn btn-sm btn-info text-white"> Back To Home </a>
            </div>
        </div>
    </div>
</div>

{% include footer %}