{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.social_icon: Items for the social icon region.
 * - page.page_title: Items for the page title region.
 * - page.search_box: Items for the search box region.
 * - page.main_navbar: Items for the main navbar region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the sidebar first.
 * - page.footer: Items for the footer region.
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set header = '@decor/custom/includes/header.html.twig' %}
{% set footer = '@decor/custom/includes/footer.html.twig' %}


{% include header %}
{{ attach_library('decor/component.content.styling') }}

	<!-- blog post  -->
	
<section style="padding: 30px;">
  <div class="row">
  

  {% if page.sidebar_first %}
    {% set content_col = '8' %}

    <div class="col-lg-{{ content_col }}">
      <div class="card">
      {{  page.content  }}
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
      {{  page.sidebar_first  }}
      </div>
    </div>
  {% else %}
  
    {% set content_col = '12' %}
    <div class="col-lg-{{ content_col }}">
      <div class="card">
        {{  page.content  }}
      </div>
    </div>

  {% endif %}

   

  </div>
</section>
<!-- blog post end -->
	
	
{% include footer %}
