@import '../../utility/variables.scss';



.ftco-section {
	padding: 1em 0;
	h2 {
		margin-bottom: 0;
	}
}
.ftco-no-pt {
	padding-top: 0;
}
.ftco-no-pb {
	padding-bottom: 0;
}
.heading-section {
	font-size: 28px;
	color: $Black;
}
.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.ftco-navbar-light {
	background: $Outer_Space;
	z-index: 3;
	padding: 0;
	.navbar-nav {
		>.nav-item {
			>.nav-link {
				font-size: 11px;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				padding-left: 20px;
				padding-right: 20px;
				font-weight: 500;
				color: $White;
				text-transform: uppercase;
				letter-spacing: 2px;
				position: relative;
				opacity: 1;
				&:before {
					position: absolute;
					bottom: 0;
					left: 0;
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background: $Red;
					-webkit-transition: 0.3s;
					-o-transition: 0.3s;
					transition: 0.3s;
				}
				&:hover {
					color: $Red;
					&:before {
						width: 100%;
					}
				}
			}
			.dropdown-menu {
				border: none;
				background: $White;
				-webkit-box-shadow: 0px 10px 34px -20px $Black;
				-moz-box-shadow: 0px 10px 34px -20px $Black;
				box-shadow: 0px 10px 34px -20px $Black;
				border-radius: 4px;
				.dropdown-item {
					font-size: 12px;
					color: $Black;
					&:hover {
						background: $Red;
						color: $White;
					}
					&:focus {
						background: $Red;
						color: $White;
					}
				}
			}
		}
		>.nav-item.cta {
			>a {
				color: $White;
				background: $Red;
				border-radius: 0px;
			}
		}
		>.nav-item.active {
			>a {
				color: $Red;
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: $Gray;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:focus {
			outline: none;
		}
	}
}
.navbar-brand {
	color: $Black;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 30px;
	span {
		display: block;
		font-size: 12px;
		font-weight: 500;
		color: $Black;
	}
	&:hover {
		color: $Black;
	}
	&:focus {
		color: $Black;
	}
}
.social-media {
	display: inline-block;
	p {
		a {
			border: 1px solid $Mercury;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 4px;
			span {
				color: $Tundora;
			}
			&:hover {
				background: $Red;
				border-color: $Red;
				span {
					color: $White;
				}
			}
		}
	}
}
.searchform {
	height: 50px;
	border: 1px solid $White;
	overflow: hidden;
	border-radius: 40px;
	.form-control {
		width: calc(100% - 50px);
		border: none;
		background: $White;
		color: $Black;
		font-size: 14px;
		&::-webkit-input-placeholder {
			color: $Black;
		}
		&::-moz-placeholder {
			color: $Black;
		}
		&:-ms-input-placeholder {
			color: $Black;
		}
		&:-moz-placeholder {
			color: $Black;
		}
	}
	.search {
		width: 50px;
		height: 50px;
		background: $Red;
		span {
			font-size: 16px;
			color: $White;
		}
	}
}
@media (max-width: 991.98px) {
	.ftco-navbar-light {
		background: $Outer_Space;
		position: relative;
		top: 0;
		padding: 10px 15px;
		.navbar-nav {
			padding-bottom: 10px;
			>.nav-item {
				>.nav-link {
					padding-left: 0;
					padding-right: 0;
					padding-top: .7rem;
					padding-bottom: .7rem;
					color: $Gallery;
					&:hover {
						color: $White;
					}
				}
				.dropdown-menu {
					display: block;
					background: $Black;
					.dropdown-item {
						color: $Gallery;
					}
				}
			}
			>.nav-item.cta {
				>a {
					color: $White;
					background: $Red;
					border-radius: 4px;
				}
			}
			>.nav-item.active {
				>a {
					color: $White;
				}
			}
		}
	}
	.social-media {
		margin: 0 auto;
	}
}
@media (prefers-reduced-motion: reduce) {
	.ftco-navbar-light {
		.navbar-nav {
			>.nav-item {
				>.nav-link {
					&:before {
						-webkit-transition: none;
						-o-transition: none;
						transition: none;
					}
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.ftco-navbar-light {
		.navbar-nav {
			>.nav-item {
				>.nav-link {
					border-bottom: 1px solid $White;
				}
			}
			>.nav-item.cta {
				>a {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
	.social-media {
		margin-bottom: 20px;
	}
}
@media (min-width: 992px) {
	.searchform {
		width: 300px;
	}
}